$primary-color: #184e77;
$primary-color-light: #467192;
$primary-color-dark: #103653;

$secondary-color: #99d98c;
$secondary-color-light: #ade0a3;
$secondary-color-dark: #6b9762;

$background-color: #f5f5f5;
