@import 'src/theme/style/variables';

.nav-bar {
  display: flex;
  overflow: auto;

  .open-side-menu-icon {
    margin-right: 1.5rem;
  }

  &-title {
    flex: 1;
    font-weight: 600 !important;
  }

  .app-bar {
    z-index: 1;
    transition: all 0.5s ease;
  }

  .drawer {
    height: 100vh;
    position: sticky;
    top: 0;

    &-toolbar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .content-page {
    flex: 1;
    height: 100vh;
    padding-top: 4rem;
  }
}
